<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <form action="/" method="post">
    <div class="row">
      <div class="column">
        <label for="template">Escolha o template:</label>
        <select id="template" name="template">
          <!-- <option value="template_certificado1.docx">Taxista Recife</option> -->
          <option value="1.docx">Atu - Cargas Indivisiveis Brasil</option>
          <option value="2.docx">Atu - Cargas Indivisiveis SC</option>
          <option value="3.docx">Atu - Mopp Brasil</option>
          <option value="4.docx">Atu - Mopp SC</option>
          <option value="5.docx">Atu - Transporte Escolar Brasil</option>
          <option value="6.docx">Atu - Transporte Escolar SC</option>
          <option value="7.docx">Atu - Transporte Passageiros Brasil</option>
          <option value="8.docx">Atu - Transporte Passageiros SC</option>
          <option value="9.docx">Atu - Veiculos de Emergencia Brasil</option>
          <option value="10.docx">Atu - Veiculos de Emergencia SC</option>
          <option value="11.docx">Esp - Cargas Indivisiveis Brasil</option>
          <option value="12.docx">Esp - Cargas Indivisiveis SC</option>
          <option value="13.docx">Esp - Mopp Brasil</option>
          <option value="14.docx">Esp - Mopp PE</option>
          <option value="15.docx">Esp - Mopp PR</option>
          <option value="16.docx">Esp - Mopp SC</option>
          <option value="17.docx">Esp - Mopp MG</option>
          <option value="18.docx">Esp - Transporte Escolar Brasil</option>
          <option value="19.docx">Esp - Transporte Escolar SC</option>
          <option value="20.docx">Esp - Transporte Passageiros Brasil</option>
          <option value="21.docx">Esp - Transporte Passageiros SC</option>
          <option value="22.docx">Esp - Veiculos de Emergencia Brasil</option>
          <option value="23.docx">Esp - Veiculos de Emergencia SC</option>
          <option value="24.docx">Taxista Florianopolis</option>
          <option value="25.docx">Taxista Goytacazes RJ</option>
          <option value="26.docx">Taxista Recife</option>
          <option value="27.docx">Taxista Sao Jose</option>
          <!-- Adicione mais opções conforme necessário -->
        </select>

        <label for="nome-aluno">Nome do aluno:</label>
        <input type="text" id="nome-aluno" name="nome-aluno" required>

        <label for="nome-curso">Nome do curso:</label>
        <input type="text" id="nome-curso" name="nome-curso" required>

        <label for="cnh">CNH:</label>
        <input type="text" id="cnh" name="cnh" required>

        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" name="categoria" required>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" required>

        <label for="rg">REGISTRO:</label>
        <input type="text" id="rg" name="rg" required>

        <label for="uf">UF:</label>
        <input type="text" id="uf" name="uf" placeholder="RS" required>

        <label for="renach">Renach:</label>
        <input type="text" id="renach" name="renach" required>

        <label for="codigo-certificado">Codigo Certificado:</label>
        <input type="text" id="codigo-certificado" name="codigo-certificado" required>
      </div>

      <div class="column">
        <label for="id-matricula">Matricula id:</label>
        <input type="text" id="id-matricula" name="id-matricula" required>
        
        <label for="data-hoje">Escreva a data de Hoje por Extenso:</label>
        <input type="text" id="data-hoje" name="data-hoje" placeholder="24 de Junho de 2023" required>

        <label for="data-inicio">Data de inicio:</label>
        <input type="text" id="data-inicio" name="data-inicio" placeholder="23/02/2021" required>

        <label for="data-fim">Data de fim:</label>
        <input type="text" id="data-fim" name="data-fim" placeholder="23/02/2021" required>

        <label for="folha">Folha:</label>
        <input type="text" id="folha" name="folha" required>

        <label for="livro">Livro:</label>
        <input type="text" id="livro" name="livro" required>

        <label for="a">Nota 1:</label>
        <input type="text" id="a" name="a" required>

        <label for="b">Nota 2:</label>
        <input type="text" id="b" name="b" required>

        <label for="c">Nota 3:</label>
        <input type="text" id="c" name="c" required>

        <label for="d">Nota 4:</label>
        <input type="text" id="d" name="d" required>

        <label for="e">Nota 5:</label>
        <input type="text" id="e" name="e" required>

        <label for="f">Nota 6:</label>
        <input type="text" id="f" name="f" required>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <input type="submit" value="Gerar Certificado">
      </div>
    </div>
  </form>
  <script>
    // Função para limpar os campos do formulário após o envio
    function limparFormulario() {
        document.getElementById("nome-aluno").value = "";
        document.getElementById("nome-curso").value = "";
        document.getElementById("cnh").value = "";
        document.getElementById("categoria").value = "";
        document.getElementById("cpf").value = "";
        document.getElementById("rg").value = "";
        document.getElementById("uf").value = "";
        document.getElementById("renach").value = "";
        document.getElementById("codigo-certificado").value = "";
        document.getElementById("id-matricula").value = "";
        document.getElementById("data-hoje").value = "";
        document.getElementById("data-inicio").value = "";
        document.getElementById("data-fim").value = "";
        document.getElementById("folha").value = "";
        document.getElementById("livro").value = "";
        document.getElementById("a").value = "";
        document.getElementById("b").value = "";
        document.getElementById("c").value = "";
        document.getElementById("d").value = "";
        document.getElementById("e").value = "";
        document.getElementById("f").value = "";
    }

    // Chamar a função após o carregamento da página
    document.addEventListener("DOMContentLoaded", function () {
        limparFormulario();
    });

    // Chamar a função para limpar o formulário
    function limparAoVoltar(event) {
            if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
                limparFormulario();
            }
        }

        // Registrar a função para ser chamada no evento pageshow
        window.addEventListener('pageshow', limparAoVoltar);
</script>
</body>
</html>
